$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


@mixin circle($diameter) {
    width: $diameter; 
    height: $diameter;
    background: black;
    border-radius: $diameter / 2 !important;

    &:hover{
    	background-color: gray;
      color: white;
    }

    &.tapped{
    	outline: none !important;
    }
}

.tapped{
        transform: scale(0.98);
        transition-duration: 80ms;
        transition-property: transform;
        outline: 0.2rem solid rgba(0, 0, 0,0.3);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar{
	background-color: black;
	color: white;

	a{
		color: white;
	}

	.container{
		position: relative;
		width: 100%;

		.navbar-header{
			position: absolute;
			left: 0;
		}

		.navbar-collapse{
			position: absolute;
			right: 0;
		}
	}
}

body {
  padding: 0;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.main {
	height: 90vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  h1{
  	font-size: 12rem;
  	color: white;
  	text-shadow: 0.1rem 0.1rem 0.1rem black;
  }

.btn-success{
	padding: 1rem 4rem; 
	font-size: 4rem;
}
}

.game{
	width: 100vw;
	height: calc(100vh - 5rem);
	position: fixed;
	left: 0;
	top: 5rem;
	background-color: black;
	overflow: hidden;

  .click{
  z-index: 10;
  position: absolute;
  background: gray;
  width: 10rem;
  height: 10rem;
  }
  .module-click{
  left: 54%;
  top: 47%;
@include circle(10rem);
  background-color: rgba(0,0,0,0.3);
padding: 2rem;
color: black;
text-wrap: wrap;
text-align: center;
font-size: 2rem;
cursor: pointer;
  }

.module-popup{
  width: 100vw;
  height: calc(100vh - 5rem);
  position: fixed;
  z-index: 20;
  left: 0;
  top: 5rem;

  .black{
    position: fixed;
  width: 100vw;
  height: 100vh;
    background-color: rgba(0,0,0,0.5);
  }

  img{
    outline: 0.5rem solid darkblue;
    position: relative;
    max-height: 100%;
    width: 80%;
    left: 10%;
  }
}

	.station-img{
		width: 100%;
		min-height: 80%;
position:relative;
top: -25rem;
	}

.gauge{
	z-index: 20;
	position: absolute;
		bottom: 2rem;
		right: 2rem;

}

	.circular{
		position: absolute;
		top: 2rem;
		left: 2rem;
		z-index: 10;
@include circle(5rem);
overflow: hidden;

img{
	width: 100%;
	height: 100%;
	}
}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
