<div class="game" ng-controller="GameCtrl as vm">
<div class="circular" data-tapeffect="true"><img src="/images/map.png" ng-click="vm.gotoMap()"></div>
<img class="station-img" src="/images/main.jpg">
<div class="module-click click" ng-click="vm.showLivingQuarters()">Zvezda Module</div>
<div class="gauge" ng-repeat="data in vm.speedDetails" id="{{data.id}}" style="width: 300px; height: 200px; float: left"></div>

<div class="module-popup" ng-show="vm.isShowingLivingQuarters">
	<div class="black" ng-click="vm.hideLivingQuarters()"></div>
	<img src="/images/module.jpg" >
	<div class="">
		
	</div>
</div>
</div>